body{
    background-color: rgb(194, 189, 216);
}
h1{
    font-family: fantasy, cursive;;
}

#deleteButton{
    background-color: rgb(204, 122, 241);
    font-family: fantasy, cursive; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 4px;
    border: none;
    font-size: 20px;
    box-shadow: 3px 5px #888888;
}

#done{
    text-decoration: line-through;
    background-image: linear-gradient(to right, #cdb6f1 0%, #6b3ed3 100%);
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;

}

table {
    border-collapse: separate;
    border-spacing: 0 15px;
  }

td {
    width:auto;
    text-align: center;
    padding: 5px;
  }

th{
    width: auto;
    text-align: center;
    padding: 5px;
}

#check{
    width: 25px;
}

#checkbox {
    width: 20px;
    height: 20px;
}

input{
        height:30px;
        width: 200px;
        font-size:14pt;
        border-radius: 10px;

}

#submitTask{
    border-radius: 10px;
    font-size: 14pt;
    height: 30px;
    background-color:rgb(147, 123, 212);
    font-family: fantasy, cursive; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 4px;
    border: none;
    font-size: 20px;
    box-shadow: 3px 5px #888888;

}
h2{
    background-color: rgb(168, 135, 194);
}